/* general styles */
body {
  background-color: #FBFBF9;
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
}
.content {
  width: 100%;
}

/*variables*/
.flex {
  display: flex;
}

/* queries */
@media (hover: hover) {

}

@media (min-width: 1024px) {

}
